:root {
    --white: #ffffff;
    --success: #28a745;
    --primary: #494259;
    --primary-light: rgba(73, 66, 89, 0.771);
    --secondary: #D9AC84;
    --tertiary: #fafafd;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;    
}
body {
    background-color: var(--secondary);
}
.form-contain {
    max-width: 550px;
    border-radius: 20px;
    background-color: white;
}
.intro-txt {
    font-size: 25px;
    color: var(--primary);
}
.form-img-div {
    display: none;
}
.a-back {
    color: var(--primary-light);
}
.btn-main {
    background-color: var(--primary);
    color: #ffffff;
}
small {
    color: var(--danger);
    visibility: hidden;
}
.cap-text {
    color: var(--danger);
    display:none;
}
.fa-check-circle-o {
    color: var(--success);
    padding: 10px; 
    min-width: 40px; 
    right: 0;
    top: 0;
    visibility: hidden;
}
.icon-eye {
    padding: 10px; 
    min-width: 40px; 
    right: 0;
    top: 0;
}

.form-control.error {
    border-color: var(--danger);
}

.form-control.success {
    border-color: var(--success);
}
.error + small {
    visibility: visible;
}
.success ~ .fa-check-circle-o {
    visibility: visible;
}
.success ~ .icon-eye {
    visibility: hidden;
}
