:root {
    --white: #ffffff;
    --primary: #494259;
    --secondary: #D9AC84;
    --tertiary: #D9C9BA;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Color Theme Swatches in Hex */
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-1-hex { color: #494259; }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-2-hex { color: #D9AC84; }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-3-hex { color: #D9C9BA; }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-4-hex { color: #BF9278; }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-5-hex { color: #8C5D5D; }

/* Color Theme Swatches in RGBA */
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-1-rgba { color: rgba(73, 66, 89, 1); }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-2-rgba { color: rgba(216, 171, 132, 1); }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-3-rgba { color: rgba(216, 200, 186, 1); }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-4-rgba { color: rgba(191, 146, 120, 1); }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-5-rgba { color: rgba(140, 92, 92, 1); }

/* Color Theme Swatches in HSLA */
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-1-hsla { color: hsla(258, 14, 30, 1); }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-2-hsla { color: hsla(28, 52, 68, 1); }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-3-hsla { color: hsla(28, 28, 79, 1); }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-4-hsla { color: hsla(22, 35, 61, 1); }
.Blurred-Modern-Kitchen-with-Retro-Instagram-Style-Filter-5-hsla { color: hsla(0, 20, 45, 1); }
body {
    background-color: var(--tertiary);
    overflow: hidden;
}
ul {
    list-style-type: none;
}
a {
    color: inherit;
    font-weight: inherit;
}
p {
    max-width: 600px;
}
.grid {
    display: grid;
}
.grid-container {
    max-width: 1440px;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 50px;
    grid-template-areas: 
        'header'
        'main'
        'footer'
    ;
    height: 100vh;
}
.btn.focus, .btn:focus {
    box-shadow: none;
}
.btn-main {
    color: #fff;
    background-color: var(--primary);
}
.btn-main.active,
.btn-main:hover {
    color: #fff;
    background-color: var(--dark);
    outline: none;
    border: none;
}
::-webkit-scrollbar{
    width: 5px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--secondary);
    height: 10px;
}
::-webkit-scrollbar-track {
    background-color: var(--primary);
}
.header {
    grid-area: header;
}
.header,
.footer {
    /* background-color: var(--primary); */
    background-color: #ffffff;
    color: var(--primary);
}
.header li {
    font-size: 18px;
}
.notification-contain {
    z-index: 5;
    top: 60px;
    right: 20px;
    display: none;
    color: var(--primary);
    
}
.noti-txt {
    max-width: 350px;
}
main .fa-heart,
main .fa-heart-o {
    font-size: 25px;
}
main .fa-heart {
    color: #ff0000;
}
.close-div,
.hamburger {
    display: none;
}
select {
    border: 1px solid #000000;
}
.side-nav {
    grid-area: side-nav;
    background-color: #ffffff;
    color: var(--primary);
    display: none;
    flex-direction: column;
}
.side-nav-list-item:hover {
    cursor: pointer;
}
.side-nav-list-item a:hover {
    text-decoration: none;
    color: inherit;
}
.search-contain {
    background-color: #ffffff;
    color: black;
    max-width: 350px;
    border-radius: 8px;
}
.search-contain .search-box {
    background-color: #ffffff;
    color: black;
    border-radius: 8px;
}
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 17px;
    width: 17px;
    background: url("../images/icons8-cancel.svg") center center/cover no-repeat;
}
input::-webkit-calendar-picker-indicator {
    display: none;
  }
.datalist-search {
    top: 0;
    left: 0;
}
.swiper-slide.item-card-box {
    max-width: 300px;
}
.swiper-slide.best-sale-card {
    max-width: 195px;
}
.best-sale {
    max-width: 160px;
}
.qty {
    border: 1px solid var(--dark);
}
.main-overview .card .d-flex > * {
    flex-basis: 50%;
}
.logo-name {
    font-size: 30px;
}
.user-img-div { 
    width: 40px;
    height: 40px;
}
#cart-no {
    top: -3px;
    right: -3px;
    font-size: 10px;
    height: 12px;
    width: 12px;
    background-color: var(--primary);
    color: #ffffff;
}
header .fa-shopping-cart {
    font-size: 20px;
}
.main {
    overflow-y: scroll;
    grid-area: main;
}
.main-header.card {
    background-color: var(--secondary);
    color: white;
}
.main-overview {
    grid-template-columns: repeat(auto-fit, minmax(260px , 1fr));
    gap: 20px;
}
.item-card-text {
    max-width: 150px;
}
.cart-bg {
    background-color: var(--dark);
    width: 200px;
    height: 200px;
}
.cart-row-contain hr {
    background-color: var(--primary);
}
.fav-card-div,
.category-card-div {
    column-count: 3;
    gap: 20px;
}
.footer {
    grid-area: footer;
}
.card {
    background-color: var(--white);
    border: none !important;
    -webkit-column-break-inside: avoid;
}
.side-btn-box {
    bottom: 60px;
    right: 20px;
    z-index: 4;
}
.message-div-contain {
    display: none;
}
.search-box {
    outline: none;
    border: none;
}
.category-btn,
.category-btn:focus {
    background-color: var(--white);
    outline: none;
    border: none;
    width: 150px;
}

.category-btn:active {
    outline: none;
    border: none;
    width: 150px;
    background-color: var(--success);
}
@media only screen and (max-width: 568px) {
    /* .fav-card-div,
    .category-card-div {
        column-count: 1;
    } */
    .about .card .card-title {
        font-size: 25px;
    }
    .product-row {
        flex-direction: column-reverse;
    }
    .mobile-none {
        display: none;
    }
}
@media only screen and (max-width: 568px) {
    .fav-card-div,
    .category-card-div {
        column-count: 2;
    }
}
@media only screen and (max-width: 400px) {
    .fav-card-div,
    .category-card-div {
        column-count: 1;
    }
    .noti-txt {
        max-width: 250px;
    }
}
@media only screen and (max-width: 768px) {
    .header {
        justify-content: space-between !important;
    }
    #home h1,
    .about .text-center h1 {
        font-size: 30px;
    }
    #categories .text-center-p p,
    .about .text-center p {
        font-size: 20px;
    }
    .side-nav-show {
        display: block;
        width: 70%;
        position: absolute;
        height: 100vh;
        z-index: 5;
    }
    .side-nav-show .close-div  {
        display: block;
        top: 20px;
        right: 20px;
    }
    .hamburger {
        display: block;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}
@media only screen and (min-width: 1000px) {
    .grid-container {
        grid-template-columns: 210px 1fr;
        grid-template-areas: 
            'side-nav header'
            'side-nav main'
            'side-nav footer';
    }
    .side-nav {
        display: flex;
        flex-direction: column;
    }
}